.sidebar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar-item:hover {
    background-color: rgba(115, 115, 115, 0.1);
}

.sidebar-item-active {
    background-color: rgba(115, 115, 115, 0.1);
}

.sidebar-item > .item-content > img {
    width: 25px;
}

.sidebar-item > .item-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-item > .item-buttons {
    display: none;
    /* display: flex;
    gap: 5px; */
}

.sidebar-item:hover .sidebar-buttons {
    display: flex;
    gap: 5px;
}

.sidebar-item > .item-buttons > button {
    height: 15px;
    width: 15px;
    background-color: transparent;
    padding: 0;
    border: none;
}

.sidebar-item > .item-buttons > button > img {
    width: 100%;
    height: 100%;
}