.sidebar-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar-item:hover {
    background-color: rgba(115, 115, 115, 0.1);
}

.sidebar-item-active {
    background-color: rgba(115, 115, 115, 0.1);
}

.sidebar-item > .item-content > img {
    width: 25px;
}

.sidebar-item > .item-content {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.sidebar-item > .item-buttons {
    /* display: none; */
    display: flex;
    gap: 5px;
    visibility: hidden;
}

.sidebar-item:hover .item-buttons {
    /* display: flex;
    gap: 5px; */
    visibility: visible;
}

.sidebar-item > .item-buttons > button {
    height: 20px;
    width: 20px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.sidebar-item > .item-buttons > button:hover {
    background-color: white;
}

.sidebar-item > .item-buttons > button > img {
    width: 15px;
    height: 15px;
}