.delete-task-dialog {
    border-radius: 10px;
    border: 1px solid grey;
    width: 400px;
    position: relative;
    top: -30%;
}

.delete-task-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.delete-task-dialog > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete-task-dialog .header {
    font-size: 20px;
    font-weight: 900;
}

.delete-task-dialog .message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-task-dialog .message span:first-child {
    font-weight: 900;
}

.delete-task-dialog .bottom-row {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.delete-task-dialog .cancel-button {
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border: none;
    background-color: rgba(115, 115, 115, 0.1);
    cursor: pointer;
}

.delete-task-dialog .cancel-button:hover {
    background-color: rgba(115, 115, 115, 0.2);
}

.delete-task-dialog .cancel-button:active {
    transform: scale(0.95);
}

.delete-task-dialog .delete-button {
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border: none;
    background-color: #A16207;
    color: white;
    cursor: pointer;
}

.delete-task-dialog .delete-button:hover {
    background-color: rgba(161, 98, 7, 0.8);
}

.delete-task-dialog .delete-button:enabled:active {
    transform: scale(0.95);
}

.delete-task-dialog .delete-button:disabled {
    background-color: rgba(161, 98, 7, 0.5);
}




