.add-task-button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    color: #78716c;
    font-size: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.add-task-button > :first-child {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.add-task-button > :nth-child(2) {
    display: flex;
    align-items: center;
}

.add-task-button:hover {
    color: #A16207;
}

.add-task-button-hidden {
    display: none;
}